<!-- Address Change Success Modal - REMOVED -->
<!-- This modal has been disabled as part of removing the delivery address feature from Orders tab
<div id="addressChangeSuccessModal" class="address-change-success-modal" style="display: none;">
  <div class="success-modal-content">
    <div class="success-icon">
      <i class="fas fa-check-circle"></i>
    </div>
    <h3>Address Updated!</h3>
    <p>Your delivery address has been successfully changed.</p>
    <button type="button" class="btn-close-success" onclick="closeAddressChangeSuccessModal()">OK</button>
  </div>
</div>
-->
