<div id="removeSellerConfirmModal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <span class="modal-title">Confirm Removal</span>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove this seller?</p>
      <p>We may not be able to replace all of the items in your order and maintain the same price point.</p>
      <p id="refill-warning"
         class="refill-warning-msg"
         style="display:none;">
        We will not be able to refill the order completely.
      </p>
    </div>
    <div class="modal-footer">
      <button id="keepSellerBtn" class="btn">Keep Seller</button>
      <button id="confirmRemoveSellerBtn" class="btn btn-danger">
        <i class="fas fa-trash"></i> Remove Seller
      </button>
    </div>
  </div>
</div>
